.Header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(243, 11, 11);

  &__Title {
    display: block;
    background-color: rgb(235, 84, 84);
    padding: 43px 0;
    line-height: 32px;
    font-size: 32px;
    font-weight: 300;
    color: #465252;
  }
}
