.Header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;

  &__Title {
    position: absolute;
    top: 31px;
    bottom: 33px;
    line-height: 32px;
    font-size: 32px;
    color: #465252;
  }
}
